{% extends 'base.html' %}

{% block title %}Home - Lampung Barat{% endblock %}

{% block content %}

<!-- HEADER -->
<div class="text-center mb-5">
    <h1 class="fw-bold">Lampung Barat</h1>
    <p class="text-muted">Smart City Issue Reporting</p>
</div>

<!-- CARD INFO -->
<div class="card shadow-sm mb-5">
    <div class="card-body">

        <h4 class="card-title text-center mb-3 fw-bold">
            Tentang Lampung Barat
        </h4>

        <p class="text-muted">
        Lampung Barat merupakan salah satu kabupaten di Provinsi Lampung yang memiliki keindahan alam yang masih asri dan udara yang sejuk. Daerah ini terkenal dengan pegunungan, perkebunan kopi, serta budaya masyarakat yang masih sangat kental.
        </p>

        <p class="text-muted">
        Sebagai salah satu daerah wisata di Lampung, Lampung Barat menawarkan berbagai destinasi menarik seperti danau, perbukitan, serta pemandangan alam yang memukau. Selain itu, daerah ini juga dikenal sebagai penghasil kopi robusta berkualitas yang banyak diminati.
        </p>

        <p class="text-muted">
        Dengan keindahan alam dan kekayaan budayanya, Lampung Barat menjadi salah satu daerah yang menarik untuk dikunjungi oleh wisatawan maupun peneliti budaya.
        </p>

        <p class="fw-bold text-primary text-center mt-3 mb-0">
             Dibuat oleh : Yuri Elva
            </p>

    </div>
</div>
{% endblock %}